<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197737970230-h8fmavssabs8qaep3ok01pmb4ib8efse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197737970230-h8fmavssabs8qaep3ok01pmb4ib8efse</string>
	<key>API_KEY</key>
	<string>AIzaSyDAdDQfc3p_ZA057Ayqdr7Rmw2fEGZItuo</string>
	<key>GCM_SENDER_ID</key>
	<string>197737970230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>luxpay.luxpay.com.luxpay</string>
	<key>PROJECT_ID</key>
	<string>luxpay-39aab</string>
	<key>STORAGE_BUCKET</key>
	<string>luxpay-39aab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197737970230:ios:11bd615cf660691c01f697</string>
</dict>
</plist>